.people__container {
    animation: peopleJumpAnimation 10s infinite;
}

@keyframes peopleJumpAnimation {
    80% {
        bottom: 14.7%;
    }

    82% {
        bottom: 16%;
    }

    87% {
        bottom: 14.7%;
    }
}