// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
//Car styling
.car {
    &__body {
        fill: #C77161;
    }

    &__outline {
        fill: #231F20;
    }

    &__window {
        fill: #231F20;
    }

    &__wheel {

        &--front,
        &--rear {
            fill: #231F20;
            stroke: #231F20;
            stroke-width: 4.206;
            stroke-miterlimit: 10;
        }
    }
}
