// USE THIS FILE TO CREATE THE LAYOUT AND SPECIFIC RULES FOR SCREENSHOTS 1 and 2
//Car styling
.car {
    &__body {
        fill: #C77161;
    }

    &__outline {
        fill: #231F20;
    }

    &__window {
        fill: #231F20;
    }

    &__wheel {

        &--front,
        &--rear {
            fill: #231F20;
            stroke: #231F20;
            stroke-width: 4.206;
            stroke-miterlimit: 10;
        }
    }
}

.star {

    &__container {
        margin-left: 1px;
        display: inline-block;
        border: solid red 5px;
        position: relative;
    }

    &__drawing-container {
        &--large {
            position: absolute;
            height: 49%;
            width: 60.5%;
            left: 0.7%;
            top: 0%;
            outline: solid green 5px;
            z-index: 2;
            perspective: 500px;
        }

        &--small {
            position: absolute;
            height: 34%;
            width: 45%;
            bottom: 1.45%;
            right: 0%;
            outline: solid blue 5px;
            z-index: 2;
        }
    }

    &__part {

        &--large {
            opacity: 0.6;
            position: absolute;
            transform: translate(-50%, -50%);
        }

        &--small {
            opacity: 0.6;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }

    &__large {
        &--center {
            top: 58%;
            left: 22%;
            border-radius: 40% 15% 0% 0%;
            width: 47%;
            height: 50%;
            rotate: 50deg;
            //background-color: #F5EC43;
            background-color: red;

        }

        &--left {}

        &--bottom {}

        &--bottom-right {}

        &--right {}

        &--top {
            transform: rotateY(30deg);
            height: 10%;
            width: 10%;
            background-color: green;
            top: 1%;
            left: 40%;
            rotate: -25deg;
            transform: translate(-50%, 0%);
        }
    }

    &__small {
        &--center {}

        &--left {}

        &--bottom {}

        &--bottom-right {}

        &--right {}

        &--top {}
    }

}